<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Events</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${event}" class="container my-5">
                <div class="col-md-12">
                    <table class="table table-striped table-responsive-md">
                        <tr>
                            <td>Event name</td>
                            <td th:text="${event.name}"></td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td th:text="${event.location}"></td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td th:text="${event.category}"></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td th:text="${event.price}"></td>
                        </tr>
                        <tr>
                            <td>Start event</td>
                            <td th:text="${event.startEventDateTime}"></td>
                        </tr>
                        <tr>
                            <td>End event</td>
                            <td th:text="${event.endEventDateTime}"></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td th:text="${event.description}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>